@font-face{
    font-family: Mosk;
    src: url(fonts/Mosk_Typeface/Mosk\ Normal\ 400.ttf);
}
@font-face {
    font-family: Mosk-Bold;
    src: url(fonts/Mosk_Typeface/Mosk\ Ultra-Bold\ 900.ttf);
}
@font-face {
    font-family: Bestermind;
    src: url(fonts/Bestermind/BestermindRegular.ttf);
}
@font-face {
    font-family: GiantBoss;
    src: url(fonts/GiantBoss/Giant\ Boss.ttf);
}
@font-face {
    font-family: Xillian;
    src: url(fonts/Xillian/Xillian\ Regular.otf);
}
*{
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    background-color: #FFFAFA;
}
.header{
    width: 100%;
    height: 250px;
    color: #0E0C0A;
    float: left;
    box-shadow: 0px 2px 5px gray;
	margin-bottom: 40px;
}
.logo{
    font-family: Bestermind;
    font-size: 100px;
    height: 100%;
    width: 40%;
    text-align: right;
    float: left;
}
.logo p{
    display: grid;
    align-items: center;
}
.navbar{
    width: 33%;
    height: 40%;
    float: left;
    margin-top: 90px;
    margin-left: 20%;
}
.navbar button{
    background-color: #FFFAFA;
    width: 120px;
    height: 60px;
    margin: 8px;
    margin-left: 20px;
    border: none;
    color: #0E0C0A;
    border-top: 2px solid #0E0C0A;;
    border-bottom: 2px solid #0E0C0A;;
    font-family: Mosk-Bold;
}
.navbar a{
    text-decoration: none;
}
.navbar button:hover{
    cursor:pointer;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    transition: .8s;
    color: gray;
}

img {
	width: 100%;
	display: grid;
    align-items: center;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	transition: transform 1000ms;
	margin: 10px;
}
.albums{
    width: 100%;
    height: auto;
    align-content: center;
}
ul {
    font-family: Xillian;
	list-style: none;
	margin-left: 25%;
	padding: 0;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	max-width: auto;
	width: 50%;
}
li{
    margin-left: 20px;
}

figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

figure::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	background: rgba(0, 0, 0, 0.5);
	transform-origin: center;
	opacity: 0;
	transform: scale(2);
	transition: opacity 300ms;
}

figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;
	padding: 1rem;
	color: white;
	font-size: 1.2rem;
	font-size: 25px;
	z-index: 1;
	opacity: 0;
	transition: opacity 600ms, transform 600ms;
}

.albums a:is(:hover, :focus) figure::after {
	opacity: 1;
}

.albums a:is(:hover, :focus) figcaption {
	opacity: 1;
	transition: opacity 600ms;
}

@media (prefers-reduced-motion: no-preference) {
	figcaption {
		transform: translate3d(0, 2rem, 0);
	}
	
	figure::after {
		border-radius: 50%;
		opacity: 1;
		transform: scale(0);
		transition: transform 900ms;
	}
	
	a:is(:hover, :focus) figure::after {
		transform: scale(2.5);
	}

	a:is(:hover, :focus) figcaption {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: opacity 600ms 400ms, transform 600ms 400ms;
	}

	a:is(:hover, :focus) img {
		transform: scale(1.2);
	}
}